[tool.poetry]
name = "data-platform-helpers"
version = "0.1.1"
description = ""
authors = ["Mia Altieri <mgaltier200@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
ops = "^2.12.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
